.container {
    height: 30px;
    background-color: #D0BCFF;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s linear;
}

.container:hover {
    background-color: #CAC4D0;
}